/*
 * nodeServer.css
 * Root namespace styles
 */
input {
  font-size: 2em;
}

.serial_tester_buttons {
  /*font-weight      : bolder;*/
}

.codeLine {
  font-size: 2em;
  font-family: Consolas;
}


/** Boxes */
.serial_tester_command_pannel {
  position      : absolute;
  padding       : 0px;
  margin-top    : 0px;
  margin-left   : 0px;
  top           : 10%;
  left          : 0%;
  width         : 500px;
  height        : 640px;
  background    : #fff;
  background-color    : lightgrey;
  border-radius : 3px;
  z-index       : 2;
}

.serial_tester_configure_pannel {
  position: absolute;
  margin-top: 10px;
  margin-left: 0px;
  width: 200px;
  height: 105px;
  background-color: slategray;
  border-radius: 3px;
}

#display {
  width: 500px;
  height: 240px;
  background-color:slategray;
}

#channel {
  font-size: 2em;
  width: 500px;
  height: 200px;
  font-family: Consolas;
}