<div class=""
     style="position:relative;outline:solid;float: left;height:240px;width:300px;margin-right:10px;margin-bottom:10px">
  <div class="form-group" style="margin-left: 15px;">
    <label for="hidden-input"></label>

    <div class="module-closer"><span style="vertical-align:middle;display: inline-block;"></span></div>
    <br>
    <input type="hidden" id="hidden-input" class="mini_color" value="#db913d">
    <a> </a>
    <button type="button" class="btn btn-default">Set LED Color</button>
  </div>
</div>