    <!--================== -->
    <!-- Nav Bar -->
    <div class="container" id="nav-bar">
      <div class="row demo-row">
        <div class="col-xs-12">
          <nav class="navbar  navbar-default navbar-fixed-top" role="navigation">
            <div class="container"> <!--This container is to make all the nav buttons site in middle-->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                  <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="www.google.com">Beans</a>
              </div>
              <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                  <!-- Nav Messages -->
                  <li><a href="#fakelink">Updates
                    <span id="nav_Update_alerts" class="navbar-new"></span>
                  </a></li>

                  <!-- Nav ToolBoxes 'Taste' -->
                  <li class="dropdown">
                    <a id='nav_Taste' href="#" class="dropdown-toggle" data-toggle="dropdown">Taste<b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                      <li><a id="nav_Taste_color">Rainbow</a></li>
                      <li><a id="nav_Taste_music">Melody</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-menu-right"><a id="nav_ToolBoxes_3rdpart">Third Party </a></li>
                    </ul>
                  </li>
                  <!-- Nav Program 'Create' -->
                  <li class="dropdown">
                    <a id='nav_Create' href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b
                      class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                      <li><a id="nav_Create_blocky">Blocky</a></li>
                      <li><a id="nav_Create_ide">IDE</a></li>
                      <li><a id="nav_Create_terminal">Terminal</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-menu-right"><a id="nav_ToolBoxes_3rdpart">Third Party </a></li>
                    </ul>
                  </li>
                  <!-- Nav Community -->
                  <li id='nav_Comu' class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community <b class="caret"></b></a>
                    <span class="dropdown-arrow"></span>
                    <ul class="dropdown-menu">
                      <li><a id="nav_Comu_beanshop">Beans Shop</a></li>
                      <li><a id="nav_Comu_comushop">Community Shop</a></li>
                      <li class="divider"></li>
                      <li><a id="nav_Comu_forum" href="community_forum.prjxbeans.com">Community Forum</a></li>
                    </ul>
                  </li>
                  <!-- Nav Sign In -->
                  <li><a id="nav_Sign" href="#fakelink">Sign In</a></li>
                </ul>
                <form class="navbar-form navbar-right" action="#" role="search">
                  <div class="form-group">
                    <div class="input-group">
                      <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                    <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.navbar-collapse -->
            </div>
          </nav>
          <!-- /navbar -->
        </div>
      </div>
      <!-- /row -->
    </div><!-- /nav-bar-->

    <!--================== -->
    <!-- Stage Container -->
    <div class="container" id="main-stage" style="outline: none;height: 640px;position:relative">
    </div> <!-- /stage -->