<div class="" style="position:relative; height:120px">
  <select class="form-control select select-default select-block mbl">
    <optgroup label="Tastes">
      <option value="LED">RainBow</option>
      <option value="Music">Melody</option>
    </optgroup>
  </select>

  <select multiple="multiple" class="form-control multiselect multiselect-info">
    <option value="LED_1">LED1</option>
    <option value="LED_2">LED2</option>
    <option value="LED_3">LED3</option>
    <option value="LED_4">LED4</option>
    <option value="LED_5">LED5</option>

    <option value="MUSIC_1">MUSIC1</option>
    <option value="MUSIC_2">MUSIC2</option>
  </select>
</div>