<div class=""
     style="position:relative;outline:solid;float: left;height:240px;width:300px;margin-right:10px;margin-bottom:10px">
  <div class="module-closer"><span style="vertical-align:middle;display: inline-block;"></span></div>
  <label for="hidden-input"></label>
  <nav role="navigation" class="navbar navbar-inverse navbar-embossed" style="margin:10px 10px 0 10px">
    <div id="navbar-collapse-06" class="collapse navbar-collapse">
      <button type="button" class="btn btn-default navbar-btn btn-lg btn-fui-play"><span class="fui-play"></span></button>
      <a> </a>
      <button type="button" class="btn btn-default navbar-btn btn-lg btn-fui-pause"><span class="fui-pause"></span></button>
      <a> </a>
      <button type="button" class="btn btn-default navbar-btn btn-lg"><span class="fui-mute"></span></button>
      <a> </a>
      <button type="button" class="btn btn-default navbar-btn btn-lg"><span class="fui-volume"></span></button>
      <a> </a>
    </div>
  </nav>
</div>